* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;

}

body {

    position: relative;

}

main {
  
    background: rgb(32, 40, 66);
    background: linear-gradient(108deg, rgba(32, 40, 66, 1) 0%, rgba(235, 235, 242, 1) 0%, rgba(36, 46, 76, 1) 0%, rgba(98, 178, 255, 1) 0%, rgba(63, 103, 152, 1) 100%);
    max-width: 90%;
    height: 64rem;
    margin: auto;
}

#form {
    background-color: #ffffff;

    width: 37.938rem;
    height: 50.313rem;
    border-radius: .8rem;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.1);
    position: absolute;
    left: 26%;
    right: 26%;
    top: 6.5625%;
    bottom: 6.5625%;

}

h2 {

    margin-top: 2em;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 1.625rem;
    line-height: 2rem;
    text-align: center;
    color: #202842;
}

p {
   
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.75rem;
    margin: 1rem auto;
   
    width: 33.75rem;
    text-align: center;
    color: #242E4C;

}

input {
    width: 23.75rem;
    height: 3.563rem;

    margin: 1% 18%;
}

  
button {
    background: linear-gradient(90deg, #6CB7FF 0%, #7985FF 99.21%);
    box-shadow: 0px 10px 12px -11px #F243A9;
    border-radius: 5px;
    width: 23.75rem;
    height: 3.563rem;
    margin: 1% 18%;
    border: none;
}

button#btn:hover {
    background: linear-gradient(90deg, #17bd30 0%, #7985FF 99.21%);
    box-shadow: 0px 10px 12px -11px #F243A9;
}

button>p {
    color: #ffffff;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.1rem;
text-align: center;
width: 39px;
height: 20px;
}

::placeholder {
    padding: .8rem;
}

textarea {
    width: 23.75rem;
    position: relative;
    left: 18%;
    top: 10%;
}

@media only screen and (max-width: 600px) {
   main{
    width: 26.75rem;
    height: 57.875rem;
    position: relative;
   }
    #form {
        position: absolute;
   width: 19.5rem;
   height: 50.3125rem;
    left: 1.5%;
    
}
p{
    width: 18rem;
}

input, button{
    width: 18rem;
    height: 3rem;
    margin:1rem .6rem;
}
textarea{
    width: 18rem;
   position: relative;
   left: .6rem;
   top: 1rem;
   bottom: 1rem;
   height: 7.0625rem;
}
button{
    margin: 1rem;
}
}